<div class="container-fluid" style="height:100vh;background: #4e73df;">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-xl-4 offset-xl-2 doc_login-form">
        <%= image_tag 'login-page.png', class: 'img-fluid' %>
      </div>
      <div class="col-lg-6 col-xl-4 offset-xl-0 doc_login-form">
        <div class="p-5">
          <div class="text-center">
            <%= link_to home_index_path do %>
              <%= image_tag 'logo.png', alt: "logo" %>
            <% end %>
            <h6 class="text-primary mb-4">
              Account Login
            </h6>
          </div>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-user", id: "exampleInputEmail" %>
            </div>
            <div class="form-group">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control form-control-user" %>
            </div>
            <% if devise_mapping.rememberable? %>
              <div class="form-group">
                <div class="custom-control custom-checkbox small">
                  <%= f.check_box :remember_me, class: "form-check-input custom-control-input" %>
                </div>
                <%= f.label :remember_me, class: "form-check-label custom-control-label" %>
              </div>
            <% end %>
          <%= f.submit "Log in", class: "btn btn-primary btn-block text-white btn-user" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

