<!DOCTYPE html>
<html>
  <head>
    <title>Capstoneering</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <!-- aos css file cdn link  -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success" style="padding-left:8em;"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger" style="padding-left:8em;"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
